<div class="block">

  <div fxShow fxHide.lt-sm>
    <a routerLink="/auth">
      <i class="material-icons" matPrefix>keyboard_backspace</i>
    </a>
  </div>

  <div class="container xs">

    <div fxHide fxShow.lt-sm="true">
      <a routerLink="/auth">
        <i class="material-icons" matPrefix>keyboard_backspace</i>
      </a>
    </div>

    <div class="title">
      <h1>{{ 'site.recoverYourAccount' | translate }}</h1>
    </div>

    <div class="blank-space"></div>

    <div class="form-container">
      <form [formGroup]="formInstance" (ngSubmit)="onSubmit()"  novalidate>

        <div class="input-container">
          <mat-form-field>
            <mat-label>{{ 'formControls.email.label' | translate }}</mat-label>
            <input matInput [placeholder]="'formControls.email.placeholder' | translate" formControlName="email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-error *ngIf="formInstance.get('email').invalid">
                {{ 'formControls.email.errors.' + errorKeys(formInstance.get('email').errors) | translate }}
              </mat-error>
          </mat-form-field>
        </div>

        <div class="blank-space"></div>

        <div class="go">
          <button mat-raised-button color="primary" type="submit" class="submit-form" [disabled]="formInstance.status === 'INVALID'" >{{ 'site.sendEmail' | translate }}</button>
        </div>

      </form>
    </div>

  </div>

</div>


