<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'">Home</a>
      <a mat-list-item [routerLink]="'/somos'">Quienes Somos</a>
      <a mat-list-item [routerLink]="'/proyectos'">Proyectos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [isHandset]="isHandset$ | async" (toggleSidenav)="drawer.toggle()"></app-header>
    <!-- Add Content Here -->
    <div class="flexbox-parent">
       <router-outlet></router-outlet>   
    </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>
